.login-component {
  background-image: url("/public/cesar-couto-sKuVjm0xyLY-unsplash.jpeg");
  filter: brightness(1.4);
  background-size: cover;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center; 
  padding-bottom: 30vh;
}

.header-gogetit {
  padding: 20px;
  font-size: 35px;
  color: rgb(237, 236, 236)
}

.err-msg {
  color: rgb(108, 27, 27);
}

.input-container {
  width: 300px;
  margin: 0 auto;
  padding: 5px 0;
}

.email-input, .password-input {
  width: 100%;
  padding: 8px 0;
  padding-left: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.login-btn {
  color: rgb(202, 202, 202);
  background-color: rgb(172, 65, 101);
  width: 100%;
  padding: 8px 0;
  /* border: none; */
  border-radius: 5px;
}

.forgot-password, a {
  color: rgb(0, 0, 123);
  padding: 10px 0; 
  text-decoration: none;
}

.back-to-signin {
  margin-top: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 123);
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 10vw;
  }

  .input-container {
    width: 75%;
    margin: 0 auto;
  }
}